x|div.Notas{
    width:100%;
    height: auto;
    background-color: #DFF1D9;
    border-radius: 3px;
}
button#Close{
    border: none;
    background-image: url(../img/SuccessfulLogin/Perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 94%;
}
div#SuccessfulLogin{
    border: 2px solid #D6E9C6;
    padding: 15px;
    color:#3C763D;
    font-size: 14px;
    background: #dff0d8;;
}
div#WelcomeUser{
    background-color: white;
    padding: 15px;
    font-size: 24px;
    margin-left: 3px;
    margin-bottom: -14px;
}
div#timeExpired{
    background-color: #F3DEDF;
    color: #B04442;
    border-color: #EBCCD1;
    border-radius: 3px;
    font-size: 14px;
    height: 74px;
    line-height: 25px;
    padding: 12px 27px;
}
div#ContainerBackup{
    margin-top: 15px;
    height: auto;
    padding: 6px 12px;
}
div#Backup{
    position: relative;
    left: 5%; 
}
div#BackupText{
    font-size: 24px;
}
div#BackupTex-2{
    font-size: 14px;   
}
div#File{
    position: relative;
    left: 98px;
}
div#Porcentaje{
    position: relative;
    right: 82px;
    border: 0px solid #ccc;
}
div#PieDePagina {
    margin-top: 2%;
    height: 67px;
}
div#BarraPorcentaje{
    background: #F5F4F4;
    position: relative;
    left: 160px;
    height: 20px;
    border-radius: 3px;
}
/*BOOSTRAP*/
[class*="col-"]{
    float:left;
    /*border: 1px solid black;*/
    padding: 1px;
}
@media(min-width: 1200px){/*Portatiles o pc*/
    .col-lg-12{
        width: 100%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-4{
        width: 33.33333333%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-7{
        width: 58.33333333%;
    }
    .col-lg-5{
        width: 41.66666666%;
    }
    .col-lg-8{
        width: 66.66666666%;
    }
    .col-lg-2{
        width: 16.66666666%;
    }
    .col-lg-1{
        width: 8.33333333%;
    }
    .col-lg-10{
        width: 83.33333333%;
    }
    .col-lg-11{
        width: 91.66666666%;
    }
    .col-lg-0{
        display: none !important;
    }
}
/*Pantallas pequeñas, mayores a 992 a 1199 (sm) ---> col-sm*/
@media (max-width: 1199px) and (min-width: 992px){/*IPAD HECHADO*/
    .col-md-12{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-4{
        width: 33.33333333%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-7{
        width: 58.33333333%;
    }
    .col-md-5{
        width: 41.66666666%;
    }
    .col-md-8{
        width: 66.66666666%;
    }
    .col-md-2{
        width: 16.66666666%;
    }
    .col-md-1{
        width: 8.33333333%;
    }
    .col-md-10{
        width: 83.33333333%;
    }
    .col-md-11{
        width: 91.66666666%;
    }
    .col-md-0{
        display: none !important;
    }
    div#BackupText {
        font-size: 18px;
    } 
    div#BackupText-2{
        font-size: 16px;
    }
    div#PieDePagina {
        margin-top: 9.5%;
        height: 61px;
    }
    div.ContainerBackupOne{
        margin-bottom: 10px;
    }
    div#File {
        position: relative;
        left: 68px;
    }
    div#SuccessfulLogin, div#Porcentaje{
        margin-top: 10px;
    }
    div#PieDePagina{
        margin-top: 13.5%;
    }
}
/*Pantallas pequeñas, mayores a 768 a 991 (sm) ---> col-sm*/
@media (max-width: 991px) and (min-width: 761px){/*IPAD NORMAL*/
    .col-sm-12{
        width: 100%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-4{
        width: 33.33333333%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-7{
        width: 58.33333333%;
    }
    .col-sm-5{
        width: 41.66666666%;
    }
    .col-sm-8{
        width: 66.66666666%;
    }
    .col-sm-2{
        width: 16.66666666%;
    }
    .col-sm-1{
        width: 8.33333333%;
    }
    .col-sm-10{
        width: 83.33333333%;
    }
    .col-sm-11{
        width: 91.66666666%;
    }
    .col-sm-0{
        display: none !important;
    } 
    div.ContainerFormularioAll{
        width: 90%;
        padding-bottom: 15px;
    }
    div#SuccessfulLogin{
        margin-top: 10px;
    }
    div#timeExpired {
        height: 95px;
    }
    div#BackupText {
        font-size: 22px;
    }
    div.ContainerBackupOne{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    div#Porcentaje{
        margin-top: 20px;
    }
    div#BarraPorcentaje {
        width: 100%;
        position: relative;
        left: 80px;
    }
    div#PieDePagina {
        position: relative;
        top: 325px;
        height: 57px;
    }
}
/*Pantallas extra pequeñas, menores a 768 xs--> col-xs*/
@media (max-width: 767px){/*Cel parado*/
    .col-xs-12{
        width: 100%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-4{
        width: 33.33333333%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-7{
        width: 58.33333333%;
    }
    .col-xs-5{
        width: 41.66666666%;
    }
    .col-xs-8{
        width: 66.66666666%;
    }
    .col-xs-2{
        width: 16.66666666%;
    }
    .col-xs-1{
        width: 8.33333333%;
    }
    .col-xs-10{
        width: 83.33333333%;
    }
    .col-xs-11{
        width: 91.66666666%;
    }
    .col-xs-0{
        display: none !important;
    }
    div#ContainerIngresaCandidato{
        width: 100%;
    }
    div.Image-Candidato{
        width: 16.66666%;
    }
    div#WelcomeUser {
        font-size: 22px;
    }
    div#timeExpired {
        height: auto;
    }
    div#BackupText {
        font-size: 16px;
        right: -20px;
        position: relative;
    }
    div#BackupText-2{
        font-size: 15px;
    }
    div#PieDePagina {
        margin-top: 240px;
        height: 57px;
        font-size: 10px;
    }
    div.ContainerBackupOne {
        margin-bottom: 10px;
        padding-right: 0px;    
    }  
    div#File {
        left: 40px;
    }
    div#Porcentaje {
        font-size: 16px;
        position: relative;
        right: 12px;
    }
    div#BarraPorcentaje {
        left: 10px;
    }
    div#PieDePagina {
        margin-top: -1px;
    }
}
@media (min-width:667px) and (max-width:767px){
    .col-xp-12{/*Cel hechado*/
        width: 100%;
    }
    .col-xp-6{
        width: 50%;
    }
    .col-xp-4{
        width: 33.33333333%;
    }
    .col-xp-3{
        width: 25%;
    }
    .col-xp-9{
        width: 75%;
    }
    .col-xp-7{
        width: 58.33333333%;
    }
    .col-xp-5{
        width: 41.66666666%;
    }
    .col-xp-8{
        width: 66.66666666%;
    }
    .col-xp-2{
        width: 16.66666666%;
    }
    .col-xp-1{
        width: 8.33333333%;
    }
    .col-xp-10{
        width: 83.33333333%;
    }
    .col-xp-11{
        width: 91.66666666%;
    }
    .col-xp-0{
        display: none !important;
    }
    div.ContainerFormularioAll {
        width: 91.66666%;
    }
    div#BarraPorcentaje {
        width: 100%;
    }
}